<%= simple_form_for [@tutorial] do |f| %>
  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
    <small id="emailHelp" class="form-text text-muted">The name of this will be seen by everyone</small>
  </div>
  <div class="form-group">
    <%= f.association :category, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :image_link %>
  </div>
  <div class="form-group">
    <%= f.input :video_link %>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>



