<h1><%= @tutorial.title %></h1>
<p><%= @tutorial.category %></p>
<img src="<%= @tutorial.image_link %>">
<p><%= @tutorial.description %></p>
<li><%= link_to "Back to Tutorials", tutorials_path %></li>

