<div class="tutorial-show-page-grid-container ">
  <div  class="header">
    <div class="center-align">
      <span class="category-tag"><%= @tutorial.category.name %></span>
      <h1 class="tutorial-header"><%= @tutorial.title %></h1>
    </div>
    <div class="options-container center-top">
      <div>
        <% if policy(@tutorial).edit? %>
        <p class="category btn-option"><%= link_to "Edit", edit_tutorial_path %>
          <% end %>
        </p>
        <% if policy(@tutorial).destroy? %>
        <p class="category btn-option"><%= link_to "Destroy", @tutorial, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="img-container">
    <%= link_to @tutorial.video_link do  %>
      <div class="banner-image" style="background-image: url(<%= @tutorial.image_link %>);">
      </div>
    <% end %>
  </div>

  <div class="description-container ">
    <div>
      <%= link_to "Back to Tutorials", tutorials_path, class: "btn-go-back" %>
    </div>
    <div class="description-lead">Lorem ipsum dolor sit amet, consetetur sadipscing elit. Do we need this lead text?
    </div>
  </div>
  <div class="description-text">
    <%= @tutorial.description %>
  </div>
</div>


