<div class="cover-container">
  <div class="cover-lef"></div>
  <div class="cover-right"></div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://source.unsplash.com/user/erondu/UvbKivMXehM)">
    <div class="banner-container">
      <h1>Hello <%= @user.first_name %></h1>
      <h4>Welcome to your dashboard</h4>
    </div>
  </div>
</div>

<div class="user-container">

  <% if @user.bought_tutorials %>
    <h2>You're the student:</h2>
    <% @user.bought_tutorials.each do |b| %>
    <div class="student-card">
      <img src="<%= b.image_link %>" alt="" class="stu-card-img">
      <div class="stu-card-text">
        <h3><%= b.title %></h3>
        <div class="stu-card-details">
           <p id="view-font"><%= pluralize b.lessons.size, "view" %></p>
        <%= link_to "Go to tutorial ⟶", tutorial_path(b), class: "btn-go-fwd" %>

        </div>
      </div>
    </div>
    <% end %>
  <% end %>

  <% if @user.tutorials %>
    <h2>You're the teacher:</h2>
    <% @user.tutorials.each do |t| %>
    <div class="student-card">
      <img src="<%= t.image_link %>" alt="" class="stu-card-img">
      <div class="stu-card-text">
        <h3><%= t.title %></h3>
        <div class="stu-card-details">
           <p id="view-font"><%= pluralize t.lessons.count, "view" %></p>
        <%= link_to "Go to tutorial ⟶", tutorial_path(t), class: "btn-go-fwd"%>

        </div>
      </div>
    </div>
    <% end %>
  <% end %>
